@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: JetBrainsMono-Thin;
  src: url("/assets/fonts/EuclidCircularA-Light.woff2") format("woff2");
}
@font-face {
  font-family: EuclidCircularA-Light;
  src: url("/assets/fonts/EuclidCircularA-Light.woff2") format("woff2");
}
@font-face {
  font-family: EuclidCircularA-Regular;
  src: url("/assets/fonts/EuclidCircularA-Regular.woff2") format("woff2");
}
@font-face {
  font-family: EuclidCircularA-Medium;
  src: url("/assets/fonts/EuclidCircularA-Medium.woff2") format("woff2");
}
@font-face {
  font-family: EuclidCircularA-Bold;
  src: url("/assets/fonts/EuclidCircularA-Bold.woff2") format("woff2");
}

body {
  background-color: #0D150F;
}

@layer components {
  .text-thin {
    @apply font-[EuclidCircularA-Thin] font-thin;
  }
  .text-light {
    @apply font-[EuclidCircularA-Light] font-light;
  }
  .text-normal {
    @apply font-[EuclidCircularA-Regular] font-normal;
  }
  .text-normal {
    @apply font-[EuclidCircularA-Medium] font-medium;
  }
  .text-bold {
    @apply font-[EuclidCircularA-Bold] font-bold;
  }
}
